

.content-container {
    z-index: 1; 
}



.background-image {
    background-image: url('../images/kitchen.jpg');
    background-size: cover;
}


.button-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
}

.btn {
    display: inline-block;
    margin: 20px;
}

