{% load static %}
<link rel="stylesheet" href="{% static 'recipes/css/base.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/recipe_list.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Recipes List</title>
</head>
<body class="cutboard-bg">
    <div class="background-image"></div>

    <div class="content-container">
        <h1>Recipes' List</h1>

        <div class="table-container">
            <table cellpadding="5" cellspacing="5">
                <tr class="table-header">
                    <td><h2>Recipe</h2></td>
                </tr>
                {% for recipe in object_list %}
                <tr>
                    <td>
                       <img src="{{ recipe.pic.url }}" width="150" height="200" />
                       <div class="recipe-name">
                           <a href="{% url 'recipes:recipe-detail' recipe.id %}">{{ recipe.name }}</a>
                       </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
         <!-- Temporary link back to Recipe List -->
         <a href="{% url 'recipes:recipe-list' %}" class="recipe-link">View Recipes</a>
    </div>

    <script src="{% static 'recipes/js/transition.js' %}"></script>
</body>
</html>

